HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated

###properties
*.properties

### IntelliJ IDEA ###
.idea
.mvn
*.iml

# Log files
logs/
*.log

# Package files
*.jar
*.war
*.ear

# Temporary files
*.tmp
*~
*.swp

# Dependency files
*.dependency
*.lock
